*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	background:#fff;
	margin:auto;
}
body{
	color: #666;
	font-family: Lato, sans-serif, helvetica, arial;
	font-size: 15px;
	line-height: 1;
	background:#f9f9f9
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
	padding:5px 10px;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}

td {
	border-width: 0 1px 1px 0;
}
body {
    width: 100%;
    min-width: 280px;
    background: #fafafa;
}
