body{
  background-color: #1c1818
}
.App {
  text-align: center;
}

.App-logo {
    animation: scaleIn infinite 10s linear;
  height: 40vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale(.3);
    opacity: 0;
    transform: scale(.3);
  }
  25% {
    -webkit-opacity: 0.5;
    -webkit-transform: scale(.7);
    opacity: 0.5;
    transform: scale(.7);
  }
  50% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
75% {
    -webkit-opacity: 0.5;
    -webkit-transform: scale(.7);
    opacity: 0.5;
    transform: scale(.7);
  } 
  100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(.3);
    opacity: 0;
    transform: scale(.3);
  } 
}
  #img{
    width: 60%;
    float: center;
    padding-bottom: 2%;
  }
  .comment{
    width: 500px;
    height: 90px;
    border-color: #020202;
    background-color: #d3d3d3
  }
  .details{
    display: grid;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 3%;
  }
  .Comments{
    padding-top: 2%;
  }
  .tablee{
    width: 50%;
    
  }
  td {
    border-bottom: solid 1px #efe1e1;
  }
  
  