body {

background-color:#fff;

margin: 0px auto;

}

.calbody{

background: #a2a8b2;

border: 1px solid #ff0;

padding: 5px;

margin-left: 800px;
width: 20.9em;

}

h1{

text-align: center;

font-size: 40px;

color: #003652;

}

#lcd{
  margin-top:5px;
border-radius: 20px;
text-align: right;

width: 17.9em;

height: 40px;

font-size: 18px;

}

#lcdu{
border-radius: 20px;
color: grey;

text-align: right;

width: 21.4em;

height: 40px;

font-size: 15px;

}

button{

background-color: #fff;

width: 80px;

height: 60px;

font-size: 20px;

border: 1px solid #097C9B;
border-radius:25px 25px;
  margin:px;
}

button:hover{

background-color: #509CA9;
  

}
#clr{
  background-color:#1c2c44;
  width:12.4em;
  height: 60px;
  margin-top:10px;
}
#operationdivid{
background-color:#1c2c44;
width: 80px;

height: 60px;

font-size: 20px;

border: 1px solid #097C9B;
border-radius:25px 25px;
}
#num0{
  width:8.2em;
}
#operationplus{
 background-color:#1c2c44;
}
#operationmult{
  background-color:#1c2c44;
}
#operationminus{
  background-color:#1c2c44;
}
#sumbit{
  background-color:#1c2c44;
}